<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragment/layout::layout(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
<main class="container">
    <h2>User Info Page</h2>
    <div class="row">
        <div class="col-sm-6">
            <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
            <br/>
            <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
        </div>
        <div class="col-sm-6">
            <p>Current money [[${#numbers.formatCurrency(cash)}]] $</p>
            <form method="post" action="/userInfo">
                <input name="money" type="number" placeholder="" class="form-control mb-3" required>
                <button type="submit" class="btn btn-primary mt-3">Deposit money</button>
            </form>
        </div>
    </div>
    <hr>
    <h3>List orders</h3>
    <table th:if="${not #lists.isEmpty(orders)}" class="table">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order date</th>
            <th>Total amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order,state : ${orders}">
            <td th:text="${order.id}">1</td>
            <td th:text="${#dates.format(order.orderDate, 'dd/MM/yyyy HH:mm')}">2</td>
            <td th:text="${order.totalAmount} + ' $'">3</td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>